{% extends 'layout.html' %}  <!--   -->
{% block body %} 

    <h2>Fantasy Teams</h2>
    {% for team in all_teams %} <!--   -->
            {{team.name}}
            <br>
            {{ team.city}}
            <br>
            {{ team.conference}}
            <br>
            {{ team.rank}}
            <br>
        <form action= "{{url_for('update', id=team.id)}}" >  <!-- url-for(go to webpage) for each team you get the  update button, and id  -->
            <input type = submit value="Update">  <!-- create 'update' button  -->
        </form>
        <form action= "{{url_for('delete', id=team.id)}}" > 
            <input type = submit value="Delete"> <!-- create 'delete' button  -->
        </form>
        <br>
        <br>
    {% endfor %}

{% endblock body %}
    